@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --default-color: #279386;
}

::selection {
  background-color: var(--default-color);
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--default-color);
  padding: 40px;
}

.container {
  width: 900px;
  max-width: 850px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 30px;
  border-radius: 35px;
  border-style: outset;
}

.container .formulario-login .title {
  position: relative;
  font-size: 35px;
  font-weight: 500;
  color: #333;
}

.container .formulario-login .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background-color: var(--default-color)
}

.container .formulario-login .email-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.container .formulario-login .email-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease;
  
}

.container .formulario-login .email-box input:focus, 
.container .formulario-login .email-box input:valid {
  border-color: var(--default-color);
}

.container .formulario-login .email-box input[type="submit"] {
  background-color: var(--default-color);
  border: 0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.container .formulario-login .email-box i {
  position: absolute;
  color: var(--default-color);
  font-size: 17px;
}

.container .formulario-login .esqueceu-senha a {
  color: var(--default-color);
  text-decoration: none;
}

.container .formulario-login .ou {
  text-align: center;
  margin: 10px;
  font-size: 18px;
}

.container .formulario-login .midias-sociais {
  text-align: center;
}

.container .formulario-login .midias-sociais i {
  margin: 0px 15px 15px 15px;
  font-size: 26px;
  cursor: pointer;
}

.container .formulario-login .midias-sociais i:hover {
  color: var(--default-color);
}

.container .formulario-login .criar-conta a {
  text-decoration: none;
  color: var(--default-color);
  margin-top: 145px;
}
/**/
.container .formulario-login .botao-entrar input {
  width: 100%;
  height: auto;
  color: #fff;
  background-color: var(--default-color);
  font-size: 17px;
  padding: 10px 0;
  border-radius: 7px;
  border: none;
  margin-top: 10px;
}



@media (max-width:800px) {
  .imagem-login{
    display: none;
  }
}

.imagem-login-imagem {
  width: 300px;
  height: 400px;
  
}